
.jumbotron{
    background-color: salmon;
}
.gif{
    width: 300px;
    height: 200px;
}
button{
    margin-right: 3px;
    margin-top: 3px;
}

#inputAction{
    width: 200px;
}

p{
    color: white;
}